<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Lab1</title>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

        <style>

            .iquitos{

                background-image: url("https://dynamic-media-cdn.tripadvisor.com/media/photo-o/18/a6/d7/5c/muyuna-amazon-lodge.jpg?w=700&h=-1&s=1");
                background-size: cover;
                background-repeat: no-repeat;

            }


        </style>


    </head>
    <body class="iquitos">
        <nav class="py-2 bg-body-tertiary border-bottom">
            <div class="container d-flex flex-wrap">
                <ul class="nav me-auto">
                    <form class=" d-flex" role="search">
                        <input type="search" class="form-control" placeholder="Encuentra tus vuelos preferidos" aria-label="Search">
                    </form>
                </ul>
                <ul class="nav">
                    <li class="nav-item"><a href="https://getbootstrap.com/docs/5.3/examples/headers/#" class="nav-link link-body-emphasis px-2">Explorar</a></li>
                    <li class="nav-item"><a href="https://getbootstrap.com/docs/5.3/examples/headers/#" class="nav-link link-body-emphasis px-2">Mis Vuelos</a></li>
                    <li class="nav-item"><a href="https://getbootstrap.com/docs/5.3/examples/headers/#" class="nav-link link-body-emphasis px-2">Iniciar Sesión</a></li>
                </ul>
            </div>
        </nav>
        <header class="py-3 mb-4 border-bottom">
            <div class="container d-flex flex-wrap justify-content-center">

                <a  href="https://getbootstrap.com/" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto link-body-emphasis text-decoration-none">
                    <span class="nav-item">Vuelos</span>

                </a>
                <a href="https://getbootstrap.com/" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto link-body-emphasis text-decoration-none">
                    <span class="nav-item">Paquetes</span>
                </a>
                <a href="https://getbootstrap.com/" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto link-body-emphasis text-decoration-none">
                    <span class="nav-item">Hoteles</span>
                </a>
                <a href="https://getbootstrap.com/" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto link-body-emphasis text-decoration-none">
                    <span class="nav-item">Autos</span>
                </a>
                <a href="https://getbootstrap.com/" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto link-body-emphasis text-decoration-none">
                    <span class="nav-item">Seguros</span>
                </a>
                <a href="https://getbootstrap.com/" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto link-body-emphasis text-decoration-none">
                    <span class="nav-item">Upgrade</span>
                </a>

                <a href="https://getbootstrap.com/" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto link-body-emphasis text-decoration-none">
                    <span class="nav-item">Centro de ayuda</span>
                </a>

            </div>
        </header>


        <div>
            <h1 style="color: white;" class=" mt-4">Iquitos</h1>

            <li style="color: white;" class="mt-4">Descubra las maravillas ocultas y destinos inesperados en Iquitos</li>


        </div>

        <div class="mt-4">
            <button type="button" class="btn btn-light">Light</button>


        </div>



    </body>
</html>